*{
text-decoration:none;
}




* {
background-color: #ed8a63;
}

h1 {
font-size: 2.5rem;
color: #c9af98;
font-weight: 600;
padding-right:10px;
padding-left:10px;
padding-top:10px;
padding-bottom:10px;
background-color: #3a4660;
}

h2 {
font-size: 2rem;
color: #c9af98;
padding:10px;
background-color: #3a4660;
}

h4 {
font-size: 1.5rem;
color: #c9af98;
padding:10px;
background-color: #3a4660;
}

a {
background-color: #3a4660;
color: #c9af98;
text-decoration: none;
padding: 15px;
}